#banner {
  padding: 0 0 50px; }

#banner .box .top {
  display: flex;
  justify-content: space-between;
  column-gap: 69px;
  margin-bottom: 26px; }

#banner .box .top .left {
  min-width: unset;
  background-color: unset;
  background-clip: unset;
  border: unset;
  border-radius: unset; }

#banner .box .top .left .card-img-top {
  width: 280px;
  margin-bottom: 47px; }

#banner .box .top .left .card-body {
  padding: 0; }

#banner .box .top .left .card-body .card-title {
  margin-bottom: 15px; }

#banner .box .top .left .card-body .card-text {
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 0;
  white-space: pre-line; }

#banner .box .top .right {
  position: relative; }

#banner .box .top .right .text {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 49px;
  font-weight: 400;
  letter-spacing: 4.4px;
  text-align: left;
  text-align-last: right;
  margin-bottom: 0;
  width: 100%;
  font-family: 'Times New Roman', sans-serif;
  line-height: 0.9;
  z-index: 9; }

#banner .box .top .right .text span.up {
  text-align: left; }

#banner .box .top .right .text span.down {
  text-align: right; }

#banner .box .top .right .text span.u {
  font-size: 65px;
  letter-spacing: 5.85px; }

#banner .box .top .right .img {
  width: 100%;
  padding-top: 46px; }

#banner .box .bottom {
  border-top: 1px solid var(--c-main);
  border-bottom: 1px solid var(--c-main);
  padding: 22px 6px; }

#banner .box .bottom .title {
  font-family: 'Times New Roman', sans-serif; }

@media (max-width: 575.98px) {
  #banner {
    padding: 40px 0 50px; }
  #banner .container-c {
    padding: 0; }
  #banner .box {
    position: relative; }
  #banner .box .top {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px; }
  #banner .box .top .left {
    position: unset;
    padding: 0 22px; }
  #banner .box .top .left .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    margin-bottom: 0; }
  #banner .box .top .left .card-body {
    padding-top: 20px; }
  #banner .box .top .right {
    position: relative; }
  #banner .box .top .right .text {
    width: 243px;
    position: absolute;
    top: -40px;
    left: unset;
    right: 22px;
    font-size: 24px;
    letter-spacing: 2.17px;
    text-align-last: auto; }
  #banner .box .top .right .text span.up {
    text-align: left; }
  #banner .box .top .right .text span.down {
    text-align: right; }
  #banner .box .top .right .text span.u {
    font-size: 31px;
    letter-spacing: 2.85px; }
  #banner .box .top .right .img {
    padding-top: 20px; }
  #banner .box .bottom {
    border-top: 1px solid var(--c-main);
    border-bottom: 1px solid var(--c-main);
    padding: 22px 6px;
    margin: 0 21px; } }
