#banner {
    padding: 0 100px 50px;
    .box {
        .top {
            display: flex;
            justify-content: space-between;
            column-gap: 47px;
            margin-bottom: 26px;

            .left {
                min-width: unset;
                background-color: unset;
                background-clip: unset;
                border: unset;
                border-radius: unset;
                .card-img-top {
                    width: 280px;
                    margin-bottom: 47px;
                }
                .card-body {
                    padding: 0;
                    .card-title {
                        margin-bottom: 15px;
                    }
                    .card-text {
                        font-weight: 400;
                        line-height: 32px;
                        margin-bottom: 0;
                        white-space: pre-line;
                    }
                }
            }
            .right {
                position: relative;

                .text {
                    position: absolute;
                    top: -16px;
                    left: 0;
                    font-size: 49px;
                    font-weight: 400;
                    letter-spacing: 4.4px;
                    text-align: left;
                    text-align-last: right;
                    white-space: pre-line;
                    margin-bottom: 0;
                    width: 100%;
                }

                .img {
                    width: 100%;
                    padding-top: 46px;
                }
            }
        }

        .bottom {
            border-top: 1px solid var(--c-main);
            border-bottom: 1px solid var(--c-main);
            padding: 22px 6px;
        }
    }
}
