#company {
    padding: 78px 100px 103px;

    .title {
        margin-bottom: 53px;
        text-align: center;
    }

    .table-div {
        .list {
            .item {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid var(--c-main);
                align-items: center;
                padding: 26px 0;

                .title {
                    width: 221px;
                    padding-left: 32px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: normal;
                    margin-bottom: 0;
                    text-align: left;
                }
                .desc {
                    width: calc(100% - 221px);
                    white-space: pre-line;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        padding: 66px 0 76px;

        .table-div {
            .list {
                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    padding: unset;
                    border: unset;
                    
                    .title {
                        width: 100%;
                        padding-left: unset;
                        padding: 17px 0;
                        border-bottom: 1px solid var(--c-main);
                        text-align: center;
                    }
                    .desc {
                        width: 100%;
                        padding: 17px 0;
                        border-bottom: 1px solid var(--c-main);
                        text-align: center;
                    }

                    &:last-child {
                        .desc {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

#confirm {
    @extend #company;
    padding: 0 0 103px;
    text-align: center;
    @media (max-width: 575.98px) {
        padding: 0 0 80px;
    }

    .box {
        max-width: 613px;
        margin: 0 auto;

        .title {
            margin-bottom: 42px;
            text-align: center;
        }

        &>.desc {
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 42px;
        }

        .table-div {
            margin-bottom: 86px;
            .list {
                text-align: left;
                .item {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--c-main);
                    padding: 26px 0;
    
                    .title {
                        width: 221px;
                        padding-left: 32px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: normal;
                        margin-bottom: 0;
                    }
                    .desc {
                        width: calc(100% - 221px);
                        line-height: 1;
                        white-space: inherit;
                        &>p {
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 24px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        @media (max-width: 575.98px) {
            padding: 40px 0 51px;

            .title {
                margin-bottom: 24px;
            }
    
            &>.desc {
                margin-bottom: 53px;
            }
    
            .table-div {
                margin-bottom: 0;
                .list {
                    .item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;
                        padding: unset;
                        border: unset;

                        &:first-child {
                            border-top: 1px solid var(--c-main);
                        }
                        
                        .title {
                            width: 100%;
                            padding-left: unset;
                            padding: 17px 0;
                            border-bottom: 1px solid var(--c-main);
                            text-align: center;
                        }
                        .desc {
                            width: 100%;
                            padding: 17px 0;
                            border-bottom: 1px solid var(--c-main);
                            text-align: center;
                        }
    
                        &:last-child {
                            .desc {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .form-check {
        padding-left: 0;
        margin-bottom: 28px;
        .form-check-label {
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
        }
        @media (max-width: 575.98px) {
            padding-left: 22px;
            text-align: left;
        }
    }

    .btn {
        width: 293px;
        height: 73px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 700;
        color: var(--c-main);
        background-color: var(--c-gray-3);
        border-radius: 100px;
        border: unset;
        margin: 0 auto;
        
        &:hover {
            color: var(--c-gray-3);
            background-color: var(--c-main);
        }
    }
    
}

#thankyou {
    @extend #company;
    padding: 90px 0;
    .box {
        max-width: 649px;
        margin: 0 auto;

        .title {
            margin-bottom: 84px;
            text-align: center;
        }

        .desc {
            font-size: 15px;
            font-weight: 400;
            line-height: 27px;
            margin-bottom: 29px;
            white-space: pre-line;
            text-align-last: center;

            &.red {
                color: var(--c-red);
                margin-bottom: 0;
            }
        }
    }
    @media (max-width: 575.98px) {
        padding: 40px 0 47px;
        .box {
            .title {
                margin-bottom: 41px;
            }
            .desc {
                padding: 0 8px;
            }
        }
    }
}
