#header {
  padding: 17px 58px; }

#header .container-fluid {
  padding-left: 0;
  padding-right: 0;
  align-items: flex-start; }

#header .navbar {
  padding: 0; }

#header .navbar .navbar-brand {
  width: 123px;
  margin-right: 0;
  display: inline-block; }

#header .navbar .navbar-brand .logo {
  width: 100%; }

#header .navbar .navbar-brand .logo-mobile {
  width: 100%;
  display: none; }

#header .navbar .collapse {
  padding-top: 9px; }

#header .navbar .collapse .navbar-nav {
  margin-left: auto;
  padding-right: 18px; }

#header .navbar .collapse .navbar-nav .menu-item > a {
  color: var(--c-main);
  padding-left: 18px;
  padding-right: 18px;
  font-size: 15px;
  text-decoration: none; }

#header .navbar .collapse .btn-contact {
  width: 120px;
  height: 40px;
  background-color: var(--c-main);
  color: var(--c-white);
  font-size: 15px;
  font-weight: 400;
  display: inline-flex;
  border: 1px solid var(--c-main);
  border-radius: 0;
  line-height: 1;
  justify-content: center;
  align-items: center; }

#header .navbar .collapse .btn-contact:hover {
  background-color: var(--c-white);
  color: var(--c-main); }

#header .navbar .collapse .btn-contact:focus {
  box-shadow: unset; }

@media (max-width: 575.98px) {
  #header {
    padding: 17px 0; }
  #header .navbar .navbar-brand .logo {
    display: none; }
  #header .navbar .navbar-brand .logo-mobile {
    display: block; }
  #header .navbar .navbar-toggler:hover {
    background-color: unset;
    box-shadow: unset; } }

#menu-mobile {
  width: 100%;
  background-color: var(--c-green-4); }

#menu-mobile .offcanvas-header {
  justify-content: flex-end; }

#menu-mobile .offcanvas-header button {
  color: var(--c-white);
  background-color: unset;
  border: unset; }

#menu-mobile .offcanvas-body .navbar-nav {
  text-align: center;
  margin-bottom: 0; }

#menu-mobile .offcanvas-body .navbar-nav .menu-item > a {
  color: var(--c-white);
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  text-decoration: none; }

#menu-mobile .offcanvas-body p {
  text-align: center;
  margin-bottom: 24px; }

#menu-mobile .offcanvas-body p a {
  color: var(--c-white);
  font-size: 25px;
  font-weight: 400;
  text-decoration: none; }
