#service {
    background-color: var(--c-gray);
    padding: 100px;

    .box-title {
        text-align: center;
        .title {
            margin-bottom: 6px;
        }
        .desc {
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 3.2px;
            font-family: 'Times New Roman', sans-serif;
        }
    }

    .list {
        .item {
            display: flex;
            justify-content: space-between;
            column-gap: 47px;
            margin-bottom: 64px;

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(2n) {
                flex-direction: row-reverse;
            }

            .content {
                position: relative;
                padding-left: 53px;
                .text-rotate {
                    position: absolute;
                    top: 0;
                    left: 25px;
                    transform-origin: 0 0;
                    transform: rotate(90deg);
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 3.2px;
                    margin-bottom: 0;
                    font-family: 'Times New Roman', sans-serif;
                }
                .title {
                    font-size: 28px;
                    font-weight: 700;
                    margin-bottom: 31px;
                    span {
                        font-size: 20px;
                    }
                }
                .desc {
                    margin: 0;
                    line-height: 32px;
                    white-space: pre-line;
                }
            }
            .box-img {
                .img {
                    width: 378px;
                }
            }
        }
    }

    @media (max-width: 575.98px) {
        padding: 22px 0;
        .list {
            .item {
                column-gap: 0;
                flex-direction: column;
                margin-top: 68px;
                margin-bottom: 0;

                &:nth-child(2n) {
                    flex-direction: column;
                }
    
                .content {
                    position: relative;
                    padding-left: 53px;
                    margin-bottom: 20px;
                }
                .box-img {
                    .img {
                        width: 100%;
                    }
                }
            }
        }
    }
}
