#service {
  background-color: var(--c-gray);
  padding: 100px; }

#service .box-title {
  text-align: center; }

#service .box-title .title {
  margin-bottom: 6px; }

#service .box-title .desc {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3.2px;
  font-family: 'Times New Roman', sans-serif; }

#service .list .item {
  display: flex;
  justify-content: space-between;
  column-gap: 47px;
  margin-bottom: 64px; }

#service .list .item:last-child {
  margin-bottom: 0; }

#service .list .item:nth-child(2n) {
  flex-direction: row-reverse; }

#service .list .item .content {
  position: relative;
  padding-left: 53px; }

#service .list .item .content .text-rotate {
  position: absolute;
  top: 0;
  left: 25px;
  transform-origin: 0 0;
  transform: rotate(90deg);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3.2px;
  margin-bottom: 0;
  font-family: 'Times New Roman', sans-serif; }

#service .list .item .content .title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 31px; }

#service .list .item .content .title span {
  font-size: 20px; }

#service .list .item .content .desc {
  margin: 0;
  line-height: 32px;
  white-space: pre-line; }

#service .list .item .box-img .img {
  width: 378px; }

@media (max-width: 575.98px) {
  #service {
    padding: 22px 0; }
  #service .list .item {
    column-gap: 0;
    flex-direction: column;
    margin-top: 68px;
    margin-bottom: 0; }
  #service .list .item:nth-child(2n) {
    flex-direction: column; }
  #service .list .item .content {
    position: relative;
    padding-left: 53px;
    margin-bottom: 20px; }
  #service .list .item .box-img .img {
    width: 100%; } }
